* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    font-size: 16px;
}

.onAddingItems {
    padding: 5px;
}

.userList>* {
    padding: 5px;
    width: 80%;
    border: 0.7px solid black;
    border-radius: 2px;
    margin: 5px;
}